.footer-static{
    position:static;
    left: 0;
    bottom: 0;
    overflow: hidden;
    /* border: red 1px solid; */
}

.footer-fixed{
    position:fixed;
    left: 0;
    bottom: 0;
    /* border: blue 1px solid; */
}

.footerbox {
    width: 100vw;
    display: flex;
    flex-direction: row;
    border: rgb(221, 221, 221) solid 1px;
    background-color: rgb(247, 244, 244);
    padding: 14px;
}

.footerbox-dark {
    width: 100vw;
    display: flex;
    flex-direction: row;
    border: rgb(45, 45, 45) solid 1px;
    background-color: rgb(23, 23, 23);
    padding: 14px;
}

.footerbox-dark .right a{
    color: rgb(181, 181, 181);
}

.footerbox-dark .left a{
    color: rgb(181, 181, 181);
}


footer a{
    color: rgb(117, 117, 117);
    text-decoration: none;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

footer a:hover{
    text-decoration: underline;
}


.right{
    position: fixed;
    right: 14px;
}

/* RESPONSIVE */
@media screen and (max-width: 640px) {

    .left{
        display: none;
    }

    .right{
        width: 100vw;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    .right a{
        padding: 20px;
    }

}