*{
    margin: 0;
    padding: 0;
}

.image-list{
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0px 10px;
    grid-auto-rows: 11px;
}

.image-list img {
    width: 250px;
    padding-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


.not-found {
    color:rgba(0,0,0,0.8);
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


.card{
    border: 1px lightgray solid;
    font-size: 13px;
    margin-bottom: 10px;
}

.card p{
    text-align: center;

}


/* RESPONSIVE */
@media screen and (max-width: 640px) {

    .image-list{
        margin-top: 20px;
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 0px 1px;
        grid-auto-rows: 10px;
    }

    .image-list img {
        width: 90vw;
        padding-bottom: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .card {
        font-size: 17px;
    }

    .not-found {
        top: 35%;
    }

}
