.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 560px;
    font-size: 17px;
}

.search__input-dark {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    border-color: gray;
    width: 75vw;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 560px;
    background-color: #1f1f1f;
    font-size: 17px;

}

.search__input-dark > input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    background-color: #1f1f1f;
    color: white;
    font-size: 16px;
    outline-width: 0;
}

.search__input > input {
    flex: 1;
    padding: 10px 0px 10px 20px;
    border: none;
    outline-width: 0;
    font-size: 16px;
}

.search__inputIcon {
    color: gray;
}

.mic-icon {
    color:rgb(16, 129, 235);
}

.search__buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 999;
}

.search__buttonsHidden {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 999;
    display: none;
}

/* RESPONSIVE */ 
/* @media screen and (max-width: 640px) {

} */